* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* cursor: pointer; */
}

.valentine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  height: 250px;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

.yesButton {
  /* display: block; */
  background-color: rgb(194, 255, 103);
  border: 2px solid #808080;
  border-radius: 5px;
}

.noButton{
  /* display: block; */
  background-color: rgb(255, 118, 118);
  border: 2px solid #808080;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  button{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}