* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.valentine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  height: 200px;
}

button {
  margin: 5px;
  padding: 5px;
  font-size: 16px;
}

.yesButton {
  background-color: rgb(194, 255, 103);
  border: 2px solid #808080;
  border-radius: 5px;
}

.noButton{
  background-color: rgb(255, 118, 118);
  border: 2px solid #808080;
  border-radius: 5px;
}
